#ruler
    font-family: 'Arial' 'Helvetica' sans-serif
    position: fixed
    top: 0
    left: 0
    z-index: 1000
    width: 100%
    height: 100%
    width: 100%

    .clear
        clear: both

    span
        width: 18px
        height: 18px
        display: block
        background-color: #535353
        position: absolute

    *
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        -o-user-select: none
        user-select: none

    .infos
        position: absolute
        z-index: 0
        font-size: 10px
        margin-top: -50px
        margin-right: -50px
        padding: 10px
        background-color: #EEE
        border-radius: 5px
        transition: opacity 500ms, visibility 500ms linear 0s
        opacity: 1
        visibility: visible

        &.hidden
            transition-delay: 500ms
            opacity: 0
            visibility: hidden

    .guide
        position: absolute
        top: 0
        left: 0

        div
            background-color: blue
            width: 100%
            height: 100%


        &.vertical
            padding: 0px 2px
            width: 1px
            height: 100000000px

            &:hover
                cursor: col-resize

        &.horizontal
            padding: 2px 0px
            width: 100000000px
            height: 1px

            &:hover
                cursor: row-resize

    .panel
        position: absolute
        top: 50px
        left: 50px
        width: 150px
        background-color: #454545
        font-size: 12px
        padding: 12px
        color: #c5c5c5
        font-family: 'Trebuchet MS'
        -webkit-font-smoothing: antialiased

        h1
            text-align: center
            font-size: 30px
            font-weight: bold
            text-shadow: #2e2e2e 1px 1px
        h2
            font-size: 14px
            font-weight: bold
            margin: 15px 0px
        h3
            font-size: 10px
            font-weight: bold
            margin: 15px 0px

        label
            display: block
            text-align: left
            margin-bottom: 5px

        .block
            float: left
            margin: 5px 0px

            &:nth-child(even)
                margin-right: 20px

        input[type="number"], input[type="text"], .toggle
            -webkit-font-smoothing: antialiased
            width: 61px
            height: 23px
            font-size: 12px
            color: #e3e3e3
            text-align: center
            background-color: #929292
            border: 1px #b4b4b4 solid
            border-radius: 1px
            // box-shadow: 0px 0px 0px .125em #1b1b1b

            &:focus, &:active
                outline: none
            &:focus, &:active
                background-color: #727272

        button
            width: 100%
            height: 25px
            border: 1px #a2becb solid
            // box-shadow: 0px 0px 0px .125em #637983
            background-color: #879ca6
            color: #e3e3e3
            font-size: 10px
            text-transform: uppercase
            margin-top: 5px

            &:focus, &:active
                outline: none
            &:active
                background-color: #5f7682

        .toggle
            position: relative

            .cursor
                position: absolute
                top: 0
                left: 0
                width: 50%
                height: 100%
                background-color: #c04040
                border: #a42727
                transition: left, background-color, border
                transition-duration: 250ms
                cursor: pointer

            &.on .cursor
                left: 50%
                background-color: #76ac56
                border: #a1cf85

            &.off .cursor
                left: 0%
                background-color: #c04040
                border: #a42727
            .actions
                position: relative
                z-index: 1
                width: 100%
                height: 100%

            span
                cursor: pointer
                position: inherit
                display: inline-block
                width: 50%
                height: 100%
                float: left
                text-align: center
                line-height: 2.4em
                font-size: 10px
                background-color: transparent

.rule
    position: absolute
    z-index: 1
    background-color: #303030
    color: #b4b4b1
    font-size: 9px

    li
        position: absolute

    p
        position: absolute

    &.horizontal
        width: 100%
        height: 17px
        border-left: 1px #696969 solid
        border-bottom: 1px #696969 solid

        li
            width: 0px
            border-left: 1px #696969 solid
            left: 0
            bottom: 0

        .indicator
            width: 0px
            height: 100%
            border-color: white
            border-style: dotted

        .gap-100
            height: 100%

        .gap-75
            height: 75%

        .gap-66
            height: 66%

        .gap-50
            height: 50%

        .gap-33
            height: 33%

        .gap-25
            height: 25%

    &.vertical
        width: 17px
        height: 100%
        border-top: 1px #696969 solid
        border-right: 1px #696969 solid

        li
            height: 0
            width: 25%
            border-top: 1px #696969 solid
            right: 0
            top: 0

        .indicator
            width: 100%
            height: 0px
            border-color: white
            border-style: dotted

        p
            word-wrap: break-word;
            width: 5px

        .gap-100
            width: 100%

        .gap-75
            width: 75%

        .gap-66
            width: 66%

        .gap-50
            width: 50%

        .gap-33
            width: 33%

        .gap-25
            width: 25%


